.contact-icon {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(228, 111, 111);
    font-size: 30px;
}
.contact-info{
    background-color: lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gold;
    border-radius: 10px;
}