.icon {
    margin: 5px;
    padding: 5px;
    background-color: rgb(32, 32, 31);
    color: rgb(155, 155, 155);
    font-size: 30px;
  }
  .icon:hover {
    background-color: rgb(231, 106, 189);
  }
  .footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: rgb(231, 106, 189);
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.931);
  }
  .footer-container {
    background-color: #add9ee;
    padding: 50px;
    color: white;
  }
  .foter-phone-icon {
    font-size: 25px;
    color: red;
  }